/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/

// @font-face {
//     font-family: 'san_francisco_textbold';
//     src: url('fonts/sanfranciscotext-bold-webfont.eot');
//     src: url('fonts/sanfranciscotext-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/sanfranciscotext-bold-webfont.woff2') format('woff2'),
//          url('fonts/sanfranciscotext-bold-webfont.woff') format('woff'),
//          url('fonts/sanfranciscotext-bold-webfont.ttf') format('truetype'),
//          url('fonts/sanfranciscotext-bold-webfont.svg#san_francisco_textbold') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }




// @font-face {
//     font-family: 'san_francisco_textregular';
//     src: url('fonts/sanfranciscotext-regular-webfont.eot');
//     src: url('fonts/sanfranciscotext-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/sanfranciscotext-regular-webfont.woff2') format('woff2'),
//          url('fonts/sanfranciscotext-regular-webfont.woff') format('woff'),
//          url('fonts/sanfranciscotext-regular-webfont.ttf') format('truetype'),
//          url('fonts/sanfranciscotext-regular-webfont.svg#san_francisco_textregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }




@font-face {
    font-family: 'san_francisco_textitalic';
    src: url('fonts/sanfranciscotext-regularitalic-webfont.eot');
    src: url('fonts/sanfranciscotext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanfranciscotext-regularitalic-webfont.woff2') format('woff2'),
         url('fonts/sanfranciscotext-regularitalic-webfont.woff') format('woff'),
         url('fonts/sanfranciscotext-regularitalic-webfont.ttf') format('truetype'),
         url('fonts/sanfranciscotext-regularitalic-webfont.svg#san_francisco_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




// @font-face {
//     font-family: 'san_francisco_textthin';
//     src: url('fonts/sanfranciscotext-thin-webfont.eot');
//     src: url('fonts/sanfranciscotext-thin-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/sanfranciscotext-thin-webfont.woff2') format('woff2'),
//          url('fonts/sanfranciscotext-thin-webfont.woff') format('woff'),
//          url('fonts/sanfranciscotext-thin-webfont.ttf') format('truetype'),
//          url('fonts/sanfranciscotext-thin-webfont.svg#san_francisco_textthin') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
    font-family: 'san_francisco_displaybold';
    src: url('fonts/sanfranciscodisplay-bold-webfont.eot');
    src: url('fonts/sanfranciscodisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanfranciscodisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/sanfranciscodisplay-bold-webfont.woff') format('woff'),
         url('fonts/sanfranciscodisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/sanfranciscodisplay-bold-webfont.svg#san_francisco_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'san_francisco_textmedium';
    src: url('fonts/sanfranciscotext-medium-webfont.eot');
    src: url('fonts/sanfranciscotext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sanfranciscotext-medium-webfont.woff2') format('woff2'),
         url('fonts/sanfranciscotext-medium-webfont.woff') format('woff'),
         url('fonts/sanfranciscotext-medium-webfont.ttf') format('truetype'),
         url('fonts/sanfranciscotext-medium-webfont.svg#san_francisco_textmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




// @font-face {
//     font-family: 'san_francisco_textMdIt';
//     src: url('fonts/sanfranciscotext-mediumitalic-webfont.eot');
//     src: url('fonts/sanfranciscotext-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/sanfranciscotext-mediumitalic-webfont.woff2') format('woff2'),
//          url('fonts/sanfranciscotext-mediumitalic-webfont.woff') format('woff'),
//          url('fonts/sanfranciscotext-mediumitalic-webfont.ttf') format('truetype'),
//          url('fonts/sanfranciscotext-mediumitalic-webfont.svg#san_francisco_textMdIt') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }




// @font-face {
//     font-family: 'san_francisco_textsemibold';
//     src: url('fonts/sanfranciscotext-semibold-webfont.eot');
//     src: url('fonts/sanfranciscotext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('fonts/sanfranciscotext-semibold-webfont.woff2') format('woff2'),
//          url('fonts/sanfranciscotext-semibold-webfont.woff') format('woff'),
//          url('fonts/sanfranciscotext-semibold-webfont.ttf') format('truetype'),
//          url('fonts/sanfranciscotext-semibold-webfont.svg#san_francisco_textsemibold') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

/**
 * http://applemusic.tumblr.com/
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco Ultra Light";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2");
}

/** Thin */
@font-face {
  font-family: "San Francisco Thin";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco Medium";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco Semibold";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco Bold";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2");
}


/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
// $lato:              'Lato', $sans-serif;
$roboto:              'Roboto', $sans-serif;

$sf-medium:             'san_francisco_textmedium', $sans-serif;

$sf:                  'San Francisco Medium', $sans-serif;

$sf-bold:             'San Francisco Bold', $sans-serif;

$sf-semibold:             'San Francisco Semibold', $sans-serif;

$sf-thin:                 'San Francisco Thin', $sans-serif;

$sf-heading:            'san_francisco_displaybold', $sans-serif;

$sf-italic:             'san_francisco_textitalic', 'San Francisco Medium', $sans-serif;

em, i {
  font-family: $sf-italic;
}

bold, strong {
  font-family: $sf-bold;
}

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

