/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap, .wrap-clef {
  width: 1040px;
}

.page-template-page-promo, .page-template-page-promo-demo, .page-template-page-promo-demo-new {
	article.hentry {
		// display: flex;
		flex-wrap: nowrap;
	}
	.entry-content {
		max-width: 68%;
	}
	.right-section {
		max-width: 32%;
		margin-top: 2.2em;
	}
}

.user-promos {
	max-width: 680px;
}

.profile-form {
	max-width: 450px;
}